# local hidden folders
reference/
presentations/data

# file hidden [should prob be removed from there]
presentations/config_pub_files.xlsx

# R additional
.Rproj.user

# Mac specific
.DS_Store
.Rhistory